*{
    padding: 0;
    margin: 0;
    font-family: Poppins;

}
nav{
    display: flex;
    margin: 80px 80px;

}

.nav-items{
    display: flex;
    gap: 80px;
    font-size: 30px;
    font-weight: 100;
    margin-top: 15px;
    margin-left: 550px;
    

}
.nav-item{
    font-weight: 500;
    color: #868787;
}
i{
    display: none;
}
.active-item{
    color: #FE7B59;
    font-weight:800;
}
 nav  img:last-child{
    margin-left: 100px;
}
.intro-section{
    display: flex;
}
.intro-section{
    padding: 0px 80px;
}
.left-section{
    width: 60%;

}
h3{
    font-size: 50px;
    font-weight: 100;
}
h1{
    font-size: 80px;
    font-weight: 900;
    text-shadow: 50px;
    color: #000000;
}
.sub-headlines{
    font-size: 25px;
    font-weight: 500;
    margin-left: 100px;
     
}
.sub-headline{
    margin-top: 30px;
   
}
div h5 img{
    height: 15px;
    background-color: #FF5E34;
    border-radius: 50%;
    padding: 8px;
    margin-top: -1px;
    margin-right: 15px;

}
.text{
    color: #d4c5c5;
    margin-top: 50px;
   padding-right: 300px;
} 
.action-btns{
   
    margin-top: 50px;
    
}
.action-btn{
    background-color:#FF5E34;
   font-weight: 600;
    padding: 10px 40px;
    text-align: center;
    margin-right: 30px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    margin-top: 13px;

}

.right-section{
    margin-top: -30px;

}
.headphone-div{
    position: relative;
    top: -350px;
  
   
}
.discount-content{
    position: relative;
    top: 520px;
    left:-10px;
    color: #fff;
}
.discount{
    position: relative;
    top: 680px;
    left:-50px
    
}
.headphone-div h1{
    color:#ffffff;
    font-size: 60px;
    font-weight: 900;
    margin-top: -10px;
}
h4{
    margin-top: 10px;
    margin-left: 20px;
}
.dots{
   
   display: flex;
    margin-top: -357px;
    justify-content: center;
    position: relative;
    top:-15px;
}
.dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
   
}
.yellow-dot{
    background-color: #FBD005;
    margin-left: 50px;

}
.tomato-dot{
    background-color: #FF5E34;margin-left: 70px;

}
.black-dot{
    background-color: #000101;
    margin-left: 70px;
}
.action-btn-1{
    background-color:#FF5E34;
    padding: 10px 40px;
    text-align: center;
    margin-right: 30px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
   position: relative;
   top: 20px;
   right: -250px;
   font-weight: 600;

}


@media (max-width:480px) {
    nav{
    display: flex;
    margin: 40px 40px;

}

.nav-items{
    display:none;
    gap: 80px;
    font-size: 30px;
    font-weight: 100;
    margin-top: 15px;
    margin-left: 550px;
    

}

 nav  img:last-child{
    display: none;
    margin-left: 100px;
}
.intro-section{
    display: flex;
    flex-direction:column-reverse
}
.intro-section{
    padding: 0px 40px;
}
.left-section{
    width: 90%;

}
.intro-section{
    padding: 0px 40px;
}

.text{
    color: #d4c5c5;
    margin-top: 20px;
   padding-right: 00px;
   text-align: center;
} 
.action-btns{
   
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
    
}

h1{
    font-size: 40px;
    font-weight: 900;
    text-shadow: 50px;
    color: #000000;
}
.sub-headlines{
    font-size: 25px;
    font-weight: 500;
    margin-left: 0px;
     
}

.right-section{
    margin-top: 0px;
    display: none;

}
.headphone-div{
    position: relative;
    top: -350px;
    width: 200px;
  
   
}


.headphone-div :last-child{
    width: 300px;
}

}